.main {
  position: relative;
}

.iframe-box {
  width: 650px;
  height: 650px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

iframe {
  overflow: scroll;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100px;
  left: 0px;
}
