@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  font-family: arial;
}

.content {
  display: flex;
  justify-content: center;
}

.content .power {
  flex: 1;
}

.content .power .select-power {
  border: 1px solid black;
  font-family: 'Fraunces', 'Courier New', Courier, monospace;
}

.content .power .select-power {
  font-size: 18px;
  background-color: #383838;
  color: #fff;
  cursor: pointer;
  border: 2px solid #c78080;
}

.content .power .select-power .pw-title {
  cursor: default;
}

.content .power .select-power .pw1:hover {
  background-color: #32bec5;
}

.content .power .select-power .pw1.active {
  background-color: #32bec5;
}

.content .power .select-power .pw2:hover {
  background-color: #4eaf38;
}

.content .power .select-power .pw2.active {
  background-color: #4eaf38;
}

.content .power .select-power .pw3:hover {
  background-color: #bd4949;
}

.content .power .select-power .pw3.active {
  background-color: #bd4949;
}

.content .wheel {
  background-image: url(./wheel_back.png);
  background-repeat: no-repeat;
  background-position: center;
  flex: 2;
  width: 1;
  z-index: 1000;
}

.content .result {
  flex: 1;
}

div.power_controls {
  margin-right: 70px;
}

div.html5_logo {
  margin-left: 70px;
}

.clickable {
  cursor: pointer;
}
